# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# Database
*.db

# App data
sync_payload.json
screen_time.log
secret_unlock_qr.png

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Executables
*.exe
